@use "sass:math";

@function toRem($value) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

/*
    Colors
*/

$primary-color: (
  "Light Cyan": hsl(193, 38%, 86%),
  "Neon Green": hsl(150, 100%, 66%),
);

$neutral-color: (
  "Grayish Blue": hsl(217, 19%, 38%),
  "Dark Grayish Blue": hsl(217, 19%, 24%),
  "Dark Blue": hsl(218, 23%, 16%),
);

/*
    Typography
*/
$font-size: toRem(28);
$font-weight: 800;
